<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<meta name="description" content="{{ .Summary }}">

<link rel="canonical" href="{{ .Site.BaseURL }}">
<link rel="icon" href="/favicon.png">
<link href="/sakura.css" type="text/css" rel="stylesheet">

{{ if .IsHome }}
<!-- Link separation -->
<style>
	p {
		margin-bottom: 1rem;
	}

	a {
		margin-left: 10px;
	}
</style>
{{ end }}

<title>{{ .Title }}{{ with .Title }} | {{ end }}{{ .Site.Title }}</title>
</head>
<body>
