<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<meta name="description" content="{{ .Summary }}">

<link rel="canonical" href="{{ .Site.BaseURL }}">
<link rel="icon" href="/favicon.png">
<link rel="stylesheet" href="/sakura.css" type="text/css">
<link rel="stylesheet" href="/main.css" type="text/css">

{{ with .Params.customCSS }}
<link rel="stylesheet" href="/{{ . }}" type="text/css">
{{ end }}

<title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>

{{ partial "extra_head" . }}
</head>
<body>
{{ if .IsHome }}
<canvas id="snow"></canvas>
{{ end }}
